name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    tags: [ "*" ]
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MISE_EXPERIMENTAL: true

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Cache pnpm store
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Cache stryker's incremental run
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: 'reports/stryker-incremental.json'
          key: ${{ runner.os }}-stryker-incremental-${{ github.ref }}
          restore-keys: |
            ${{ runner.os }}-stryker-incremental-${{ github.ref }}
            ${{ runner.os }}-stryker-incremental-main

      - run: mise run commit-check

      - name: Upload code coverage report
        id: code-coverage
        uses: actions/upload-pages-artifact@v3
        with:
          path: coverage

      - name: Upload Stryker's report
        id: stryker-report
        uses: actions/upload-pages-artifact@v3
        with:
          path: reports/mutation/mutation.html

  publish-test-report:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: 'code-coverage'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: 'stryker-report'

