[env]
NODE_ENV="production"

[tools]
node = "24.13.1"
pnpm = "10.29.3"

[hooks]
enter = [
    "mise install",
    "mise generate git-pre-commit --write"
]

[tasks.pre-commit]
description="Run the pre-commit hook"
run = [
    "pnpm biome lint --fix $STAGED",
    "pnpm biome format --fix $STAGED"
]