[env]
NODE_ENV="production"

[tools]
node = "24.13.1"
pnpm = "10.29.3"

[hooks]
enter = [
    "mise install",
    "mise generate git-pre-commit --write"
]

[tasks.pre-commit]
description="Run the pre-commit hook"
run = [
    "env | grep STAGED"
    #"pnpm biome lint --no-errors-on-unmatched --fix $STAGED",
    #"pnpm biome format --no-errors-on-unmatched --fix $STAGED"
]