[env]
NODE_ENV="production"
BIOME_CONFIG_PATH=".config/biome/biome.json"
STRYKER_CONFIG_PATH=".config/stryker/stryker.config.json"

[tools]
node = "24.13.1"
pinact = "3.9.0"
pnpm = "10.29.3"

[hooks]
enter = [
    "mise install",
    "mise generate git-pre-commit --write"
]

[tasks.pre-commit]
description="Run the pre-commit hook"
run = """
pnpm biome check --write --no-errors-on-unmatched --changed --since HEAD
pnpm typecheck
pnpm test

#changed_actions=$(echo "$STAGED" | grep -E '(\\.github/workflows/.*\\.ya?ml|action\\.ya?ml)$')

#if [[ -n "$changed_actions" ]]; then
#    echo "Found some changed github actions, running pinact..."
#    pinact run $changed_actions
#fi

echo $STAGED | xargs git add
"""

[tasks.commit-check]
description = "Checks that verify the codebase is conform"
run = """
pnpm i
pnpm fmt
pnpm lint
pnpm build
pnpm test
pnpm test:mutation
pinact run --check
"""
